{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "current"}
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                ["@babel/env", {
                    "es2015": {
                        "modules": false
                    }
                }]
            ]
        }
    }
}
